{% extends 'base.html.twig' %}

{% block title %}Review index{% endblock %}

{% block body %}
<style>
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(232, 184, 36);
    margin-top: 20px;
}
</style>

<div class=" pageTitle m-2 text-center">
    <h1>Review index</h1>

</div>

    <div>
            <a  class="m-5" href="{{ path ('app_homepage')}}">&#9664;&#9664; Back to Home</a>
    </div>

    <div class="container mt-5">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.description }}</td>
                 {# {% if is_granted('ROLE_ADMIN') %}
                <td>
                    
                    <a class="btn btn-warning" href="{{ path('app_review_edit', {'id': review.id}) }}">edit</a>
                </td>
                {% endif %} #}

                <td>
                <a class="btn btn-primary" href="{{ path('app_review_show', {'id': review.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

    
{% endblock %}
