{% extends 'base.html.twig' %}{% block title %}Product Catalog{% endblock %}
{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset("css/style.css")}}">
{% endblock %}
{% block body %}
<style>

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(232, 184, 36);
    margin-top: 20px;
}

.index_card {
  height: 100%;
  display: flex;
  flex-direction: column;
} 
</style>

    <h1>Product Catalog</h1>

    <div class="container">
        <div class="row row-cols-4">
            {% for product in products %}
            <div>
            <div class="card index_card" style="width: 18rem;">
                <img width="150" src="{{ asset('uploads/' ~ product.picture ) }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.price }}</p>  
                  <p class="card-text">{{ product.category }}</p>
                  <p class="card-text">{{ product.description }}</p>
                  {# <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                  <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a> #}
                </div>
              </div>
            </div>
        {% else %}
                <div>no records found</div>
        {% endfor %}
</div>
</div>
    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}

