{% extends 'base.html.twig' %}

{% block title %}Orders index
{% endblock %}

{% block body %}
	<h1>Orders index</h1>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}

		<table class="table">

			<thead>
				<tr>
					<th></th>
					<th>Product Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>

				{% for product in products %}


					<tr>
						<td>{{product.getPicture()}}</td>
						<td>{{product.getName()}}</td>
						<td>{{product.getDescription()}}</td>
						<td>{{product.getPrice()}}</td>


						<td>
							{% for order in orders %}
								<a href="{{ path('app_orders_show', {'id' : order.id}) }}">show</a>

								{{ include('orders/_delete_form.html.twig') }}
							{% endfor %}
						</td>


					</tr>


				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>


				{% endfor %}


			</tbody>

		</table>
		{# {% for product in products %}
																																																																							<p>{{product.getName()}}</p>
																																																																							<p>{{product.getPrice()}}</p>
																																																																				
																																																																						{% endfor %} #}

	{% endif %}

{% endblock %}
